apiVersion: v1
kind: Service
metadata:
  name: notes-app-service
  namespace: notes-app
  labels:
    app: notes-app
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000
    protocol: TCP
    name: http
  selector:
    app: notes-app
---
apiVersion: v1
kind: Service
metadata:
  name: notes-app-loadbalancer
  namespace: notes-app
  labels:
    app: notes-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: notes-app